body {
    background-color: rgb(255, 121, 143);
}

h1 {
    align-items: center;
    font-family: "Brush Script MT", cursive;
    align-self: center;
    font-size: 50px;
    text-align: center;
    color: #32f8ff;
}

button {
    background-color: rgb(40, 197, 61);
    color: whitesmoke;
    height: 75px;
    width: 520px;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 30px;
    border: 0ch;
    border-radius: 100%;
}